* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
}
 h1 {
     text-align: center;
     color: darkblue;
     font-family: "Century Gothic", Helvetica, sans-serif;
 }

 p {
     font-family: Arial, Helvetica, sans-serif
 }

.navbar {
    background-color: darkblue;
    color: white;
}


 .hero-section {
     background-color: lightblue;
     text-align: center;
     width: auto;
     padding: 125px;
 }

 .hero-section h1 {
     text-align: center;
     color: midnightblue;
     padding: 20px;
     font-family: "Century Gothic", Helvetica, sans-serif;
 }

 .hero-section p {
     text-align: center;
     padding-bottom: 25px;
 }

.hero-section a {
    text-align: center;
    text-underline: none;
    color: darkslategrey;
    padding: 10px;
    margin: 20px;
    background-color: aquamarine;
    text-decoration: none;
    border-radius: 5px;

}


 .about {
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     flex-direction: column;
     background-color: beige;
     align-items: center;
     gap: 30px;
     padding: 30px;
      }

 #h1abt {
     text-align: center;
     font-size: 50px;
 }

  .mission, .vision {
     background-color: aquamarine;
     width: 50%;
     /*height: 200%;*/

 }

.services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;

}

}
 .portfolio {
     background-color: beige;
     width: auto;
     height: auto;

 }

 .contact {
     width: auto;
     height: auto;
     align-items: center;
     margin: auto;
     padding-top: 50px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     background-color: lightblue;
 }
 .contact-content {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 350px;
     gap: 20px;
     align-items: center;
 }
 .email {
     color: aquamarine;
     font-family: Arial, Helvetica, sans-serif;
     align-content: center;
     background-color: blue;
     width: 50%;
     height: 100px;
     margin: 100px;
     text-align: center;
     border-radius: 10px;
 }

 .phone {
     color: beige;
     font-family: Arial, Helvetica, sans-serif;
     align-content: center;
     align-items: center;
     text-align: center;
     background-color: green;
     width: 50%;
     height: 100px;
     margin: 100px;
     border-radius: 20px;
 }

 .footer {
     display: flex;
     flex-direction: row;
     background-color: bisque;
     text-align: center;
     height: auto;
     align-items: center;
     /*align-content: center;*/
     gap: 100px;
     /*list-style: none;*/
 }

 .footer ul {
     list-style: none;
 }
