* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
}

.title {
    text-align: center;
    font-size: 50px;
}


 h1 {
     text-align: center;
     color: darkblue;
     font-family: "Century Gothic", Helvetica, sans-serif;
 }

 p {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.2em;
     padding: 10px;
 }

/* Make the navbar sticky and rounder*/
.navbar {
    background-color: darkblue;
    color: white;
    width : 80%;
    /*position: absolute;*/
    /*align-content: center;*/
    margin: 1.5px auto;
    border-radius: 15px;

}


 .hero-section {
     background-color: lightblue;
     text-align: center;
     width: auto;
     padding: 125px;
 }

 .hero-section h1 {
     text-align: center;
     color: midnightblue;
     padding: 20px;
     font-family: "Century Gothic", Helvetica, sans-serif;
 }

 .hero-section p {
     text-align: center;
     padding-bottom: 25px;
     line-height: 1.6em;
     font-size: 1.2em;
 }


/* Insert a picture to the right side*/
/*Can make it a slider with picture background*/
.hero-section a {
    text-align: center;
    text-underline: none;
    color: darkslategrey;
    padding: 10px;
    margin: 20px;
    background-color: aquamarine;
    text-decoration: none;
    border-radius: 5px;

}

 /*Make this responsive*/
 .about {
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     flex-direction: column;
     background-color: beige;
     align-items: center;
     gap: 30px;
     padding: 100px;
      }
.about-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
   .mission, .vision {
     background-color: aquamarine;
     width: 50%;
       padding: 50px;
       border-radius: 10px;
       /*display: flex;*/
       /*flex-direction: row;*/
     /*height: 200%;*/

 }

/*   Make this a grid*/
.services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 85px 85px;

}

 /*Make portfolio a slider corousel*/
 .portfolio {
     background-color: darkcyan;
     width: auto;
     height: auto;
     align-items: center;
     text-align: center;
     padding-top: 25px;

 }

 .contact {
     width: auto;
     height: auto;
     align-items: center;
     margin: auto;
     padding-top: 50px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     background-color: lightblue;
 }
 .contact-content {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 350px;
     gap: 20px;
     align-items: center;
 }
 .email {
     color: aquamarine;
     font-family: Arial, Helvetica, sans-serif;
     align-content: center;
     background-color: blue;
     width: 50%;
     height: 100px;
     margin: 100px;
     text-align: center;
     border-radius: 10px;
 }

 .phone {
     color: beige;
     font-family: Arial, Helvetica, sans-serif;
     align-content: center;
     align-items: center;
     text-align: center;
     background-color: green;
     width: 50%;
     height: 100px;
     margin: 100px;
     border-radius: 20px;
 }

 .footer {
     display: flex;
     flex-direction: row;
     background-color: bisque;
     text-align: center;
     height: auto;
     align-items: center;
     /*align-content: center;*/
     gap: 100px;
     /*list-style: none;*/
 }

 .footer ul {
     list-style: none;
 }
