* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
}

.title {
    text-align: center;
    font-size: 50px;
}


 h1 {
     text-align: center;
     color: darkblue;
     font-family: "Century Gothic", Helvetica, sans-serif;
 }

 p {
     font-family: "Segoe UI", "Arial", sans-serif;
     font-size: 1.2em;
     padding: 10px;
 }

/* Make the navbar sticky and rounded*/
.navbar {
    background-color: darkblue;
    color: white;
    width: 99% !important;
    /*position: absolute;*/
    /*align-content: center;*/
    margin: 0 5px;
    /*border-radius: 100px;*/
    position: fixed;
}


 .hero-section {
     background-color: lightblue;
     text-align: center;
     width: auto;
     padding: 185px 100px 50px 100px
 }

 .hero-section h1 {
     text-align: center;
     color: midnightblue;
     padding: 20px;
     font-family: "Century Gothic", Helvetica, sans-serif;
 }

 .hero-section p {
     text-align: center;
     padding-bottom: 45px;
     line-height: 1.6em;
     font-size: 1.2em;
     margin: 0 300px;
 }


/* Insert a picture to the right side*/
/*Can make it a slider with picture background*/
.hero-section a {
    text-align: center;
    text-underline: none;
    color: darkslategrey;
    padding: 15px;
    margin: 20px;
    background-color: lightsalmon;
    text-decoration: none;
    border-radius: 5px;
    /*border-width: 100px;*/
    /*width: 20px;*/
    align-content: center;
}

 /*Make this responsive*/
 .about {
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     flex-direction: column;
     background-color: beige;
     align-items: center;
     gap: 30px;
     padding: 100px;
      }

.about-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
   .mission, .vision {
     background-color: aquamarine;
     width: 50%;
       padding: 50px;
       border-radius: 10px;
       /*display: flex;*/
       /*flex-direction: row;*/
     /*height: 200%;*/

 }

/*   Make this a grid*/
.services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 85px 85px;
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.services-card {
    display: flex;
    flex-direction: column;
    background-color: salmon;
    align-items: center;
    width: 350px;
    /*width: 50%;*/
    height: auto;
    padding: 30px;
    border-radius: 10px;    
    /*margin: 25px;*/
}

.services-card:hover {
    background-color: rgb(53, 186, 124);
    transition: 0.5s;
}

 /*Make portfolio a slider corousel*/
 .portfolio {
     background-color: cyan;
     width: auto;
     height: auto;
     align-items: center;
     text-align: center;
     padding-top: 25px;

 }

 
 .portfolio-container {
    background-color: cyan;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    padding: 50px;
    width: auto;

 }

 .portfolio-card {
    background-color: beige;
    border-radius: 20px;
    height: auto;
    text-align: center;
    font-size: 1.2em;
    padding: 80px;

 }

 .portfolio-card:hover {
    transform: rotate();
 }

.btn {
    background-color: aqua;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-width: 1px;
    text-decoration: none;
    border-color: darkorange;
    /* border-width: 2px; */

}

.btn a {
    text-decoration: none;
}

.btn:hover {
    background-color: darkorange;
}
 .foot {
    background-color: aquamarine;
    align-items: center;
    text-align: center;

 }


 .flip-card {
    background-color: transparent;
    
 }